<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CRUD Node.js and Mysql</title>
  {{!-- <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/> --}}
</head>
<body>
  <div class="container">
    <h2>Anggota List</h2>
        <button class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add New</button>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Telepon</th>
          <th>Alamat</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ id }}</td>
          <td>{{ nama }}</td>
          <td>{{ telepon }}</td>
          <td>{{ alamat }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-info edit" data-id_anggota="{{ id }}" data-nama_anggota="{{ nama }}" data-telepon_anggota="{{ telepon }}" data-alamat_anggota="{{ alamat }}">Edit</a>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id_anggota="{{ id }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

    <!-- Modal Add anggota-->
      <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Add New Anggota</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="id_anggota" class="form-control" placeholder="ID Anggota" required>
               </div>

               <div class="form-group">
                   <input type="text" name="nama_anggota" class="form-control" placeholder="Nama Anggota" required>
               </div>

               <div class="form-group">
                   <input type="text" name="telepon_anggota" class="form-control" placeholder="Telepon" required>
               </div>

               <div class="form-group">
                   <input type="text" name="alamat_anggota" class="form-control" placeholder="Alamat" required>
               </div>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save</button>
             </div>
           </div>
         </div>
        </div>
     </form>

     <!-- Modal Update Produk-->
   <form action="/update" method="post">
       <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                  <input type="text" name="id_anggota" class="form-control id_anggota" placeholder="ID Anggota" required>
              </div>

              <div class="form-group">
                  <input type="text" name="nama_anggota" class="form-control nama_anggota" placeholder="Nama Anggota" required>
              </div>

              <div class="form-group">
                  <input type="text" name="telepon_anggota" class="form-control telepon_anggota" placeholder="Telepon" required>
              </div>

              <div class="form-group">
                  <input type="text" name="alamat_anggota" class="form-control alamat_anggota" placeholder="Alamat" required>
              </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" name="id" class="id_anggota">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </div>
       </div>
      </form>

     <!-- Modal Delete Produk-->
      <form id="add-row-form" action="/delete" method="post">
         <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                                        <h5 class="modal-title" id="myModalLabel">Delete Anggota</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   </div>
                   <div class="modal-body">
                                                 <strong>Anda yakin mau menghapus data ini?</strong>
                   </div>
                   <div class="modal-footer">
                                            <input type="hidden" name="id_anggota" class="form-control id_anggota2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                   </div>
                    </div>
            </div>
         </div>
     </form>

<script src="/assets/js/jquery-3.3.1.js"></script>
{{!-- <script src="/assets/js/bootstrap.js"></script> --}}
<script>
    $(document).ready(function(){
            //tampilkan data ke modal untuk edit
      $('#mytable').on('click','.edit',function(){
        var id_anggota = $(this).data('id_anggota');
        var nama_anggota = $(this).data('nama_anggota');
        var telepon_anggota = $(this).data('telepon_anggota');
        var alamat_anggota = $(this).data('alamat_anggota');
        $('#EditModal').modal('show');
        $('.nama_anggota').val(nama_anggota);
        $('.telepon_anggota').val(telepon_anggota);
        $('.id_anggota').val(id_anggota);
        $('.alamat_anggota').val(alamat_anggota);
      });
            //tampilkan modal hapus record
            $('#mytable').on('click','.delete',function(){
        var id_anggota = $(this).data('id_anggota');
        $('#DeleteModal').modal('show');
        $('.id_anggota2').val(id_anggota);
      });

    });
</script>
</body>
</html>
